{{!-- 
  This template will get compiled and sent to the server so the client can 
  inject this into a srcdoc in an iframe. We do this because we want to sandbox our 
  code and stop it from leaking into other examples.
 --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {{{ particleLib }}}
  <style>
    body, html {
      margin: 0;
      background: transparent;
    }
    canvas {
      display: block;
    }
  </style>
  {{{ css }}}
</head>
<body>
    {{{ html }}}
    <canvas id="a">
    </canvas>
    {{{ js }}}
</body>
</html>
